<!DOCTYPE html>
<html>
<head>
  <title>Medicine Dashboard</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <header>
    <h1>💊 Medicine Reminder💊</h1>
    <div class="user-info">
      <span>Welcome, <b>{{ user_name }}</b></span>
      <a href="/logout" class="logout-btn">Logout</a>
    </div>
  </header>

  <main>
    <section class="medicine-list">
      <h2>Today's Medicines</h2>
       <style>
    body{
        background-image: url('https://png.pngtree.com/thumb_back/fh260/background/20240403/pngtree-assorted-pharmaceutical-medicine-pills-tablets-and-capsules-over-blue-background-image_15647957.jpg');
        height: 100ch;
        background-size: cover;
        background-position: center;
    }
  </style>


      {% if meds|length > 0 %}
        {% for med in meds %}
        <div class="medicine-card {% if med['status']=='missed' %}missed{% endif %}">
          <div class="med-details">
            <h3>{{ med['medicine_name'] }}</h3>
            <p><b>Dosage:</b> {{ med['dosage'] }}</p>
            <p><b>Time:</b> {{ med['time'] }}</p>
            <p><b>Status:</b> 
              {% if med['status']=="pending" %}
                <span class="status pending">⏳ Pending</span>
              {% elif med['status']=="missed" %}
                <span class="status missed">❌ Missed</span>
              {% endif %}
            </p>
          </div>
          <div class="actions">
            <a href="/update/{{ med['_id'] }}/taken" class="btn taken">✅ Taken</a>
            <a href="/update/{{ med['_id'] }}/missed" class="btn missed">❌ Missed</a>
          </div>
        </div>
        {% endfor %}
      {% else %}
        <p class="empty">🎉 No pending or missed medicines for today!</p>
      {% endif %}
    </section>

    <section class="add-form">
      <h2>Add New Medicine</h2>
      <form method="POST" action="/add">
        <input type="text" name="name" placeholder="Medicine Name" required>
        <input type="text" name="dosage" placeholder="Dosage" required>
        <input type="time" name="time" required>
        <button type="submit" class="btn add">➕ Add Medicine</button>
      </form>
    </section>

    <p class="history-link"><a href="/history">📜 View History</a></p>
  </main>
</body>
</html>

